* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100%;
  width: 100%; 
  background-color: black;
  margin: 0;
}
h2 {
  color: white;
}
/* navbar section */
nav {
  height: 80px;
  background-color: gray;
}
nav img {
  width: 150px;
  height: 130px;
  position: absolute;
  top: -18px;
  left: 4%;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 15px;
}
nav ul li a {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 0;
}
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
nav button {
  padding: 15px;
  color: white;
  background-color: orange;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 5px;
}
nav button:hover {
  text-decoration: underline blue;
  cursor: pointer;
}

/* nutrition */
.Nutrition {
  width: 100%;
  position: relative;
}
.background-image img {
  width: 100%;
  filter: blur(10px);
  z-index: -1;
}
.Nutrition h1 {
  color: black;
  position: absolute;
  margin-top: -65%;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-left: 35%;
  text-decoration: underline;
}
.nutrition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -45%;
}

/* prouction */
.product {
  margin: 20px;
}

.product img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-left: 90px;
  transition: transform 0.3s ease;
}
.product img:hover{
  transform: scale(1.2);
}
button.Pre {
  height: 30px;
  background-color: orange;
  color: black;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 40%;
  cursor: pointer;
}
/* weight */
.Weight{
  background-color: white;
  padding: 20px;
  text-align: center;
  
}
.Weight h1{
  text-decoration: underline;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.Weight-content{
  display: flex;
  justify-content: space-around;
}
.machine{
  margin: 20px;
}
.machine img{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-left: 90px;
  transition: transform 0.3s ease-in-out;
}
.machine img:hover{
  transform: scale(1.1);
}
button.Cable{
  height: 30px;
  background-color: orange;
  color: black;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 20%;
  cursor: pointer;
}
/* Apparel */
.Apparel {
  width: 100%;
  position: relative;
}
.background-effect img {
  width: 100%;
  filter: blur(10px);
  z-index: -1;
}
.Apparel h1 {
  color: black;
  position: absolute;
  margin-top: -65%;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-left: 35%;
  text-decoration: underline;
}
.Apparel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -45%;
}
.exercise {
  margin: 20px;
}
.exercise img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-left: 90px;
}
.exercise img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
button.Zumba {
  height: 30px;
  background-color: orange;
  color: black;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 40%;
  cursor: pointer;
}
/* more section */
.more {
  background-color: gray;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
}
.contact-details {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: white;
  padding: 30px;
}
.contact{
  height: 30px;
}
.orange {
  color: orange;
}
.goal img {
  width: 150px;
  height: 150px;
}
.goal p{
  margin-top: -55px;
  font-size: 20px;
  font-weight: 600;
  color: orange;
}
span {
  text-decoration: underline;
}
.tags {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
}
.tag-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.bg-orange {
  background-color: orange;
}
.tag-heading button {
  border-radius: 2px;
  border: none;
  width: 80px;
  height: 35px;
  font-size: 1em;
  font-weight: 500;
}
/* footer section */
footer {
  background-color: orange;
  color: black;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
/* Media query for mobile */
@media  (max-width: 768px) {

  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    height: 450px;
    background-color:gray;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 1;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  
  #check:checked ~ ul {
    left: 0;
  } 
  /* nutrition */
  /* .Nutrition{
    text-align: center;
  }
  .Nutrition h1 {
    font-size: 20px; 
    margin-top: -68%; 
    margin-left: 30%;
    
  }

  .nutrition {
    flex-direction: column; 
    align-items: center; 
    margin-top: -65%; 
    margin-left: 25%;
  }

  .product img {
    width: 90px;
    height: 50px;
    margin-left: 57px;
    margin-bottom: 10px;
    margin-top: -3px;
}
button.Pre {
  width: 40px;
  padding: 5px;
  margin-left: -86px;
  margin-top: 35px;
  width: fit-content;
} */
.Nutrition{
  text-align: center;
}
.Nutrition h1 {
  font-size: 30px;
  margin-top: -65%;
  margin-left: 20%;
}

.nutrition {
  margin-top: -50%;
}

.product img {
  width: 100px;
  height: 100px;
  margin-left: 0;
}

button.Pre {
  height: 42px;
  margin-left: 0;
}
/*  weight*/
.Weight {
  padding: 5px;
}

.Weight h1 {
  font-size: 40px;
}
.machine img {
  width: 100px;
  height: 100px;
  margin-left: 0;
}

button.Cable {
  height: 42px;
  margin-left: 0;
}
/* Apparel */
.Apparel h1 {
  font-size: 30px;
  margin-top: -65%;
  margin-left: 25%;
}

.Apparel-container {
  margin-top: -50%;
}

.exercise img {
  width: 100px;
  height: 100px;
  margin-left: 8px;
}

button.Zumba {
  margin-left: 0;
}
 /* more */
 .more {
  flex-direction: column;
  align-items: center;
}
.contact-details,
.tags {
  flex-basis: 100%;
  margin: 10px 0;
}
.companyLogo{
  margin-top: -20%;
}
}

